<a href="https://colab.research.google.com/github/rizwanmukati03/Saylani-AI-and-DS-Course/blob/main/16_1_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# For loop

In [1]:
import math

In [4]:
math.cos(90) #method calling of class

-0.4480736161291701

In [3]:
math.sin(90)

0.8939966636005579

In [11]:
def call():
  name = input("Enter your name: ")
  print("Welcome Mr.", name )

In [12]:
# function calling
call()

Enter your name: Rizwan
Welcome Mr. Rizwan

In [14]:
def call():
  name = input("Enter your name: ")
  gender = input("Enter your gender. ").lower()
  if gender == "male":
    print("Welcome Mr.", name )
  else:
    print("Welcome Miss.", name )

In [16]:
call()
call()

Enter your name: Riwan
Enter your gender. male
Welcome Mr. Riwan
Enter your name: Ayesha
Enter your gender. female
Welcome Miss. Ayesha

In [49]:
#write a function that can ask user to enter a number,
#if the entered number is even print("Entered even number") else print odd number


def guess_even_odd():
  while(True):
    num = input("Enter a number or write 'exit' to terminate: ")
    if num == "exit":
      break;
    else:
      num1 = int(num)
      if num1 %2 == 0:
        print("You entered even number")
      else:
        print("You entered odd number")

In [50]:
guess_even_odd()

Enter a number or write 'exit' to terminate: 2
You entered even number
Enter a number or write 'exit' to terminate: 3
You entered odd number
Enter a number or write 'exit' to terminate: exit

# Question:
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.

In [56]:
for i in range(2000, 3201):
    if (i%7==0): 
      if (i%5!=0):
        print(i,end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

#Do the following exercise from provided link https://github.com/zhiwehu/Python-programming-exercises/blob/master/100%2B%20Python%20challenging%20programming%20exercises.txt

In [59]:
adic={}

In [60]:
adic[2]= 2*2

In [61]:
adic

{2: 4}

# Return

In [71]:
def input_your_number():
  num1 = int(input("Enter your first number"))
  num2 = int(input("Enter your second number"))
  result = num1 + num2
  return result

In [73]:
reultant_answer = input_your_number()*10
print(reultant_answer)

Enter your first number2
Enter your second number7
90