# Difference between for loop and while loop

In [ ]:
for a in range(10):
    if a == 5:
        break
    print(a)

In [41]:
for a in range(10):
    if a == 5:
        continue
    print(a)

0
1
2
3
4
6
7
8
9

In [ ]:
a=0
while(a<10):
    a+=1
    
    print(a)

In [ ]:
fav_dishes=[]
flag = True
while(flag) :
    fav_dish = input("Enter your favourite dishes and enter quit to exit")
    
    if fav_dish == "quit":
        flag=False
        fav_dishes.append(fav_dish)
    else:
        fav_dishes.append(fav_dish)
        
        
fav_dishes

# List Comprehension

In [ ]:
# task: separate numbers as even n odd
evens =[]
odds = []
for num in range(30):
    if num%2==0:
        evens.append(num)
    else:
        odds.append(num)
print(evens)   
print(odds)

In [ ]:
numbers=[num+num*0.2 for num in [12,34,45,23,34,56,23,12]]
numbers

In [ ]:
numbers=[num+num*0.2 if num<=30 else " Agli dafa" for num in [12,34,45,23,34,56,23,12]]
numbers

In [ ]:
numbers=[num+num*0.2  for num in [12,34,45,23,34,56,23,12] if num<=30 ]
numbers

In [ ]:
14.4 in numbers

# Tuple

In [ ]:
atuple = (12,34,56)   # immutable(can not be changed)

In [ ]:
type(atuple)

In [ ]:
a = list(atuple)
a

In [ ]:
atuple[0]=112

In [ ]:
x = "val1", "val2"  #packing
x

In [ ]:
roll, contact = x  # unpacking

In [ ]:
roll

In [ ]:
contat

# SET

In [ ]:
aset = {23,34,56,23,34}

In [ ]:
aset

In [ ]:
bset= {"Saad","Asad","Saad","Ahmed", "Ali","Ali"}

In [ ]:
bset.add("nasir")

In [ ]:
bset

In [ ]:
alist = list(bset)

In [ ]:
set

In [1]:
myset = set([12,12,34,5])

In [2]:
myset

{5, 12, 34}

# Dictionary

In [14]:
adic = {"name":"Asad", 'name':"Fahad"}

In [6]:
type(adic)

dict

In [15]:
adic

{'name': 'Fahad'}

In [8]:
adic["name"]

'Asad'

In [19]:
adic['age']=23
adic

{'name': 'Fahad', 'age': 23}

In [20]:
del adic['age']

In [21]:
adic

{'name': 'Fahad'}

In [22]:
adic.keys()

dict_keys(['name'])

In [23]:
adic.values

In [34]:
newDic = {"name":["Asad", "Ahmed", 'Ali'], "Age":[23,34,12],"Qual":["BS","BS","BS"], "Gender":["Male","Male","Male"]}

In [35]:
for key in newDic.keys():
    print(key)

name
Age
Qual
Gender

In [36]:
for val in newDic.values():
    print(val)

['Asad', 'Ahmed', 'Ali']
[23, 34, 12]
['BS', 'BS', 'BS']
['Male', 'Male', 'Male']

In [37]:
for key in newDic.keys():
    print(newDic[key])

['Asad', 'Ahmed', 'Ali']
[23, 34, 12]
['BS', 'BS', 'BS']
['Male', 'Male', 'Male']

In [38]:
for k,v in newDic.items():
    print(type(k),type(v))

<class 'str'> <class 'list'>
<class 'str'> <class 'list'>
<class 'str'> <class 'list'>
<class 'str'> <class 'list'>

In [32]:
wdic = {1:"mango", 2:"oranges"}

In [33]:
wdic

{1: 'mango', 2: 'oranges'}

In [39]:
from pandas import DataFrame

In [40]:
DataFrame(newDic)

    name  Age Qual Gender
0   Asad   23   BS   Male
1  Ahmed   34   BS   Male
2    Ali   12   BS   Male